@import '../../node_modules/modern-normalize/modern-normalize.css';
@import url('./fonts.css');
@import url('./reset.css');

:root {
  --primary-white: #fff;
  --primary-color: #407bff;
  --primary-black: #2f2f2f;

  --secondary-textcolor: #9ebbff;
  --secondary-orange: #ff9d43;
  --secondary-red: #ef5050;
  --secondary-lighblue: #d7e3ff;
  --secondary-verylightblue: #ecf2ff;
  --secondart-grey: #8f8f8f;
}
